
/* Reminder: "auto" adjusts relative to the content, "%" adjusts relative to the parent, and "fr" distributes available space */

html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

button
{
    border: none;
    background: none;
}

.company-block__link
{
    height:40px;
}

.header-block
{
    display: flex;
    align-items: center;
    
    height: 56px;
    
    background: white;
    box-shadow: inset 0 1px #D9FFF5;
}

.header-block__text
{
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 16px;
    
    color:#7E7E82;
}

.header-block__text--margin, .button-show-hide-content--margin
{
    margin-left: 24px;
    margin-right:24px;
}

.content
{
    width: auto;
    height: fit-content;
}

.company-block
{
    min-width: 240px;
    max-width: 240px;
    height: 72px;
    
    background: white;
    border: solid #EAEAEA 1px;
    border-radius: 10px;
}

.company-block__inner-frame
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 100%; /*For some reason in this case 100% works better than auto when it comes to flex containers using border-box.
                    The more i use border-box, the more times i encounter content overflow problems.
                    It turns out that this isn't as perfect of an option as people described it.
                    Content-box acted in a much more predictable way, with no need to memorize these cases.*/
    
    margin: auto 16px; /*Reminder: top and bottom margins on auto are 0  https://www.w3.org/TR/CSS2/visudet.html#Computing_heights_and_margins*/
    border: none;
    
    /*Reminder: in a block model, the children containers inherit their parents' height,
      unless you add height:auto to make them set their height to fit their content instead.
      It's most noticeable when using box-sizing:border-box;*/
}

.company-block__arrow-right
{
    width: 40px;
    height: 40px;
}









/*pc, laptop*/

@media screen and (min-width: 768px) 
{

.content
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    column-gap: 32px;
    row-gap: 16px;
   
    margin:24px;
}
@media (max-width: 771px)
{ 
     .content{ column-gap: 30px;}
}

.company-block
{
    min-width: 220px;
}


.button-show-hide-content
{
    display:flex;
    height:24px;
    align-items: center;
}

.button-show-hide-content__icon
{height: 24px; width: 24px;}

.button-show-hide-content__text
{font-weight: 500; font-size: 16px}

}









/*mobile | tablet*/

@media screen and (max-width: 767px) 
{
    
.header-block
{
    height: 80px;
}    

.content
{
    margin: 24px 0;
}
    
.content-fade
{
    display: block;
    
    position: absolute;
    top: 100px;
    height: 80px;
    z-index: 2;
    
    width: 24px;
}

.content-fade--left
{
    left: 0px;
    background: linear-gradient(to right, #F8F8F8, #f8f8f800);
}

.content-fade--right
{
    right: 0px;
    background: linear-gradient(to left, #F8F8F8, #f8f8f800);
}

.company-block__inner-frame
{
    min-height: 20px;
    height: 52px;
}


/* Swiper */

.swiper-slide
{
    height: 72px !important;
    display:flex !important;
}

.pagination-container
{
    margin-left:50%;
}

.swiper-pagination
{
    position: static !important;
    margin-top: 16px;
    height: 32px;
}

.swiper-pagination-bullet
{
    width:  12px !important;
    height: 12px !important;
    margin: 6px  !important;
}

}

